body {
  background-image: url("/images/bgbg.png");
  background-repeat: repeat;
  background-size: 10px 10px;
  background: linear-gradient(to bottom, rgba(246, 240, 226, 0.7), rgba(255, 255, 255, 0.7));
}

.green-leaf {
  position: fixed;
  transition: opacity 0.3s;
  opacity: 0;
  pointer-events: none;
}

.container {
  background-image: url("/images/album.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center 60px;
}

.container .overall {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 650px;
  margin: -90px auto 0px;

}

.container .overall .scene {
  width: 90px;
  height: 90px;
  margin: 2px;
  border-radius: 15px;
  overflow: hidden;
  background-attachment: fixed;
  background-size: cover;
  border: 3px solid transparent;
  transition: transform 0.3s, border-width 0.3s;
}

.container .overall .scene:hover {
  transform: scale(1.3);
  transition: transform 0.3s;
  border: 3px solid #bdff72;
  position: relative;
  z-index: 1;
}

.container .overall .scene .image {
  width: 140%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  transform: translateX(-18px);
}

.container .overall .scene:nth-child(1) .image {
  background-image: url("https://picsum.photos/seed/1/90/90");
}

.container .overall .scene:nth-child(2) .image {
  background-image: url("https://picsum.photos/seed/2/90/90");
}

.container .overall .scene:nth-child(3) .image {
  background-image: url("https://picsum.photos/seed/3/90/90");
}

.container .overall .scene:nth-child(4) .image {
  background-image: url("https://picsum.photos/seed/4/90/90");
}

.container .overall .scene:nth-child(5) .image {
  background-image: url("https://picsum.photos/seed/5/90/90");
}

.container .overall .scene:nth-child(6) .image {
  background-image: url("https://picsum.photos/seed/6/90/90");
}

.container .overall .scene:nth-child(7) .image {
  background-image: url("https://picsum.photos/seed/7/90/90");
}

.container .overall .scene:nth-child(8) .image {
  background-image: url("https://picsum.photos/seed/8/90/90");
}

.container .overall .scene:nth-child(9) .image {
  background-image: url("https://picsum.photos/seed/9/90/90");
}

.container .overall .scene:nth-child(10) .image {
  background-image: url("https://picsum.photos/seed/10/90/90");
}

.container .overall .scene:nth-child(11) .image {
  background-image: url("https://picsum.photos/seed/11/90/90");
}

.container .overall .scene:nth-child(12) .image {
  background-image: url("https://picsum.photos/seed/12/90/90");
}

.container .overall .scene:nth-child(13) .image {
  background-image: url("https://picsum.photos/seed/13/90/90");
}

.container .overall .scene:nth-child(14) .image {
  background-image: url("https://picsum.photos/seed/14/90/90");
}

.container .overall .scene:nth-child(15) .image {
  background-image: url("https://picsum.photos/seed/15/90/90");
}

.container .overall .scene:nth-child(16) .image {
  background-image: url("https://picsum.photos/seed/16/90/90");
}

.container .overall .scene:nth-child(17) .image {
  background-image: url("https://picsum.photos/seed/17/90/90");
}

.container .overall .scene:nth-child(18) .image {
  background-image: url("https://picsum.photos/seed/18/90/90");
}

.container .overall .scene:nth-child(19) .image {
  background-image: url("https://picsum.photos/seed/19/90/90");
}

.container .overall .scene:nth-child(20) .image {
  background-image: url("https://picsum.photos/seed/20/90/90");
}

.container .overall .scene:nth-child(21) .image {
  background-image: url("https://picsum.photos/seed/21/90/90");
}

.container .overall .scene:nth-child(22) .image {
  background-image: url("https://picsum.photos/seed/22/90/90");
}

.container .overall .scene:nth-child(23) .image {
  background-image: url("https://picsum.photos/seed/23/90/90");
}

.container .overall .scene:nth-child(24) .image {
  background-image: url("https://picsum.photos/seed/24/90/90");
}

.container .overall .scene:nth-child(25) .image {
  background-image: url("https://picsum.photos/seed/25/90/90");
}

.container .overall .scene:nth-child(26) .image {
  background-image: url("https://picsum.photos/seed/26/90/90");
}

.container .overall .scene:nth-child(27) .image {
  background-image: url("https://picsum.photos/seed/27/90/90");
}

.container .overall .scene:nth-child(28) .image {
  background-image: url("https://picsum.photos/seed/28/90/90");
}

.container .overall .scene:nth-child(29) .image {
  background-image: url("https://picsum.photos/seed/29/90/90");
}

.container .overall .scene:nth-child(30) .image {
  background-image: url("https://picsum.photos/seed/30/90/90");
}

.container .logo {
  max-width: 700px;
  max-height: 400px;
  margin: -40px 0px 20px auto;
}

.container .logo img {
  width: 100%;
  height: 100%;
}